{% extends "base.html.twig" %}

{% block title %}
Liste des playlistes
{% endblock %}

{% block body %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Liste des playlistes</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="TechnologyTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Titre</th>
                            <th>Description</th>
                            <th>Nombre de vidéo</th>
                            <th>action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for playlist in playlistes %}
                            <tr>
                                <td>{{ playlist.name }}</td>
                                <td title="{{ playlist.description }}">{{ playlist.description|slice(0,50) }}</td>
                                <td>{{ playlist.videos|length }}</td>
                                <td>
                                    <a href="{{ path('admin_playlist_show', {"id": playlist.id}) }}" class="btn btn-primary">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                    <a href="{{ path('admin_playlist_edit', {"id": playlist.id}) }}" class="btn btn-warning">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a href="{{ path('admin_playlist_delete', {"id": playlist.id}) }}" onclick="return confirm('Ceci va supprimer l\'element')" class="btn btn-danger">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

{% endblock %}