{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}


    <div class="container-fluid">
        <!-- Basic Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h3 class="m-0 font-weight-bold text-primary">{{ playlist.name }}</h3>
            </div>
            <div class="card-body">
                {{ playlist.description }}
                <br>
                <br>
                <hr>
                <div class="table-responsive">
                    <table class="table table-bordered" id="videosTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Titre</th>
                            <th>Description</th>
                            <th>date de publication</th>
                            <th>action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for video in playlist.videos %}
                            <tr>
                                <td>{{ video.title }}</td>
                                <td title="{{ video.description }}">{{ video.description|slice(0,50) }}</td>
                                <td>{{ video.publishedAt|date('d/m/Y') }}</td>
                                <td>
                                    <a href="{{ path('admin_video_show', {"id": video.id}) }}" class="btn btn-primary">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                    <a href="{{ path('admin_video_edit', {"id": video.id}) }}" class="btn btn-warning">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a href="{{ path('admin_video_delete', {"id": video.id}) }}" onclick="return confirm('Ceci va supprimer l\'element')" class="btn btn-danger">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

