{% extends 'base.html.twig' %}

{% block title %} Vidéos {% endblock %}

{% block body %}



    <!-- Begin Page Content -->
    <div class="container-fluid">

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Liste des vidéos</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="videosTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Technologie</th>
                            <th>Titre</th>
                            <th>Description</th>
                            <th>date de publication</th>
                            <th>action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for video in videos %}
                            <tr>
                                <td>{% if video.technology %}{{ video.technology.name }}{% endif %}</td>
                                <td>{{ video.title }}</td>
                                <td title="{{ video.description }}">{{ video.description|slice(0,50)|raw }}</td>
                                <td>{{ video.publishedAt|date('d/m/Y') }}</td>
                                <td>
                                    <a href="{{ path('admin_video_show', {"id": video.id}) }}" class="btn btn-primary">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                    <a href="{{ path('admin_video_edit', {"id": video.id}) }}" class="btn btn-warning">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a href="{{ path('admin_video_delete', {"id": video.id}) }}" onclick="return confirm('Ceci va supprimer l\'element')" class="btn btn-danger">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->


{#    <figure class="container">#}
{#        <div class="video-wrapper">#}
{#            <div class="video-container">#}
{#                <iframe width="560" height="315" src="https://www.youtube.com/embed/bCS77rG4DZ4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
{#            </div>#}
{#        </div>#}
{#    </figure>#}
{% endblock %}