{% extends 'base.html.twig' %}

{% block title %}
Ajouter une vidéo
{% endblock %}

{% block body %}

    <!-- Begin Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800">Ajouter une vidéo</h1>
        <br>

        {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.title) }}
                {{ form_widget(form.title) }}
                {{ form_errors(form.title) }}
            </div>
            <div class="form-group">
                {{ form_label(form.description) }}
                {{ form_widget(form.description) }}
                {{ form_errors(form.description) }}
            </div>
            <div class="form-group">
                {{ form_label(form.videoURL) }}
                {{ form_widget(form.videoURL) }}
                {{ form_errors(form.videoURL) }}
            </div>
            <div class="form-group">
                {{ form_label(form.nameFileVideo) }}
                {{ form_widget(form.nameFileVideo) }}
                {{ form_errors(form.nameFileVideo) }}
            </div>
            <div class="form-group">
                {{ form_label(form.imageFile) }}
                {{ form_widget(form.imageFile) }}
                {{ form_errors(form.imageFile) }}
            </div>
            <div class="form-group">
                {{ form_label(form.publishedAt) }}
                {{ form_widget(form.publishedAt) }}
                {{ form_errors(form.publishedAt) }}
            </div>
        <button type="submit" class="btn btn-primary">Ajouter</button>
        {{ form_end(form) }}

    </div>
    <!-- /.container-fluid -->

{% endblock %}

