{% extends 'base.html.twig' %}

{% block title %}
    {{ video.title }}
{% endblock %}

{% block body %}
    <!-- Begin Page Content -->
    <div class="container">
        <div class="float-right">
            <a href="{{ path('admin_video_edit', {"id": video.id}) }}" class="btn btn-warning">
                <i class="fas fa-edit"></i>
            </a>
            <a href="{{ path('admin_video_delete', {"id": video.id}) }}" onclick="return confirm('Ceci va supprimer l\'element')" class="btn btn-danger">
                <i class="fas fa-trash-alt"></i>
            </a>
        </div>
        <h1>{{ video.title }}</h1>
        <span class="badge badge-info">Date de publication : {{ video.publishedAt|date('d/m/Y à H:i') }}</span>
        <br>
        <p>
            {{ video.description|raw }}
        </p>
        <br>
        <video id="player" controls playsinline poster="{{ asset('images/videos/'~video.imageFile) }}">
            <source src="{{ asset('videos/'~video.nameFileVideo) }}" type="{% if video.typeVideo == 1 %}video/ogg {% elseif video.typeVideo == 2 %}video/mp4{% endif %}" size="1080">
        </video>
        <br>
        <h1>Image de la vidéo</h1>
        <figure>
            <img src="{{ asset('images/videos/'~video.imageFile) }}" alt="{{ video.imageFile }}" class="img-fluid">
        </figure>
    </div>
{% endblock %}


 {#    <figure class="container">#}
        {#        <div class="video-wrapper">#}
        {#            <div class="video-container">#}
        {#                <iframe width="560" height="315" src="https://www.youtube.com/embed/bCS77rG4DZ4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
        {#            </div>#}
        {#        </div>#}
        {#    </figure>#}

