{% extends 'base.html.twig' %}

{% block title %}
Editer un article
{% endblock %}

{% block body %}
    <!-- Begin Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800">Editer un article</h1>
        <br>

        {{ form_start(form) }}
        {{ include('blog/_form.html.twig') }}
        <div class="mb-4">
            <img src="{{ asset('images/articles/'~article.imageFile) }}" alt="{{ article.imageFile }}" class="img-fluid">
        </div>
        <button type="submit" class="btn btn-primary">Editer</button>
        {{ form_end(form) }}

    </div>
    <!-- /.container-fluid -->
{% endblock %}

