{% extends "base.html.twig" %}

{% block title %}Liste des articles{% endblock %}

{% block body %}

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Liste des articles</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="videosTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Titre</th>
                            <th>Description</th>
                            <th>date de publication</th>
                            <th>action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for article in articles %}
                            <tr>
                                <td>{{ article.title }}</td>
                                <td title="{{ article.description }}">{{ article.description|slice(0,50) }}</td>
                                <td>{{ article.publishedAt|date('d/m/Y') }}</td>
                                <td>
                                    <a href="{{ path('admin_article_show', {"id": article.id}) }}" class="btn btn-primary">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                    <a href="{{ path('admin_article_edit', {"id": article.id}) }}" class="btn btn-warning">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a href="{{ path('admin_article_delete', {"id": article.id}) }}" onclick="return confirm('Ceci va supprimer l\'element')" class="btn btn-danger">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

{% endblock %}