Salut {{ username }} tu viens de t'inscrire sur : {{ host_front }}.

Alors je te souhaite la bienvenue il manque une petite étape avant de finir ton inscription !

Clique sur ce lien pour confirmer ton compte cela me permet de savoir que tu n'es pas un robot !

<a href="{{ host_front }}mon-compte/confirmation/{{ token }}">{{ host_front }}mon-compte/confirmation/{{ token }}</a>