<div class="form-group">
    {{ form_label(form.forum) }}
    {{ form_widget(form.forum) }}
    {{ form_errors(form.forum) }}
</div>
<div class="form-group">
    {{ form_label(form.title) }}
    {{ form_widget(form.title) }}
    {{ form_errors(form.title) }}
</div>
<div class="form-group">
    {{ form_label(form.description) }}
    {{ form_widget(form.description) }}
    {{ form_errors(form.description) }}
</div>
<div class="form-group">
    {{ form_label(form.resolve) }}
    {{ form_widget(form.resolve) }}
    {{ form_errors(form.resolve) }}
</div>
<div class="form-group">
    {{ form_label(form.close) }}
    {{ form_widget(form.close) }}
    {{ form_errors(form.close) }}
</div>
